@import "../../variables.scss";

.input-wrapper {
    padding: 12px 0;

    .input {
        height: 45px;
        width: 250px;
        border-radius: 5px;
        border: none;
        background: #373753;
        font-weight: 600;
        padding: 0 12px;
        color: $tooltip-txt-color;
        font-size: 15px;

        &::placeholder {
            text-transform: uppercase;
        }

        &:focus {
            outline: none;

            &::placeholder {
                color: transparent
            }
        }
    }
}