@import "../../variables.scss";

.controller-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .controller-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        padding: 0 13.5%;

        .middle-controlls {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 3px;
            margin: 0 52px 0 49px;

            .nav-controlls {
                height: 10vh;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 24px;
                height: 24px;
                width: 24px;

                &.play {
                    height: 56px;
                    width: 56px;
                    fill: $btn-color-light !important;
                }
            }
        }

        .rotate-icon {
            transform: rotate(180deg);
        }

        .side-controlls {
            height: 10vh;
            display: flex;
            align-items: center;
            position: relative;
            top: 2px;
            height: 20px;
            width: 20px;
        }
    }

    .controller-row-small {
        height: 20px !important;

        .svg {
            height: 18px !important;
        }

        .play {
            height: 34px !important;
        }
    }

}

.lower-controller {
    width: 100%;
    padding: 24px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.volume-handle {
    position: relative;

    .volume {
        width: 20px;
        height: 50px;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 18px;

        .line {
            position: absolute;
            background-color: $tooltip-color;
            width: 1px;
            height: 80%;
        }

        .dot {
            background-color: $btn-color-light;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            z-index: 1;
        }
    }
}


.svg {
    height: 20px;
    width: 20px;
    fill: $tooltip-color !important;

    cursor: pointer;
}

.repeat {
    fill: rgb(231, 76, 60) !important;
}