@import "../../variables.scss";

.button-wrapper {
    padding-top: 32px;
    display: flex;
    justify-content: center;

    .button {
        text-transform: uppercase;
        height: 45px;
        width: 254px;
        border-radius: 20px;
        border: none;
        background: rgb(231, 76, 60);
        color: #e0e0e0;
        font-weight: 600;
        font-size: 15px;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &:hover {
            background: rgb(231, 76, 60);
        }
    }
}