@import "../../variables.scss";

.button-wrapper {
    padding-top: 32px;
    display: flex;
    justify-content: center;

    .button {
        text-transform: uppercase;
        height: 45px;
        width: 254px;
        border-radius: 20px;
        border: none;
        background: #D83256;
        color: $tooltip-txt-color;
        font-weight: 600;
        font-size: 15px;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &:hover {
            background: #cc3d5c;
        }
    }
}