$bg-color: #D7D5D3;
$tooltip-txt-color: #9597A6;
$tooltip-color: #050303;
$btn-color: #212121;

$bg-color-light: #f4f8ff;
$tooltip-txt-color-light: #ffffff;
$tooltip-color-light: #161616;
$btn-color-light: #8D8B8C;