$bg-color: #2B2B2B;
$tooltip-txt-color: #ffffff;
$tooltip-color: #f0f0f0;
$btn-color: #212121;

$bg-color-light: #f4f8ff;
$tooltip-txt-color-light: #ffffff;
$tooltip-color-light: #161616;
$btn-color-light: #fc4e4e;